/* menú hamburguesa */
.main-hamburger {
  position: absolute;
  top: 25px;
  right: 28px;
  height: 2px;
  width: 24px;
  background: #d0d0d0;
}

.main-hamburger::before, .main-hamburger::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 24px;
  display: block;
  background: #d0d0d0;
}

.main-hamburger::before {
  top: -8px;
}

.main-hamburger::after {
  top: 8px;
}

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Clases específicas */
.bg-header {
  background-color: #383e42;
  color: #ffffff;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

nav {
  padding: 14px;
  overflow: hidden;
}

.nav-left {
  font-size: 1.25rem;
  float: left;
}

.nav-right {
  float: right;
}

.none {
  display: none;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 7rem;
  font-weight: 500;
  color: #969696;
}

span {
  color: #0090ff;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.overlay {
  background: #cccccc;
  padding: 5rem 0;
}

.text-description, .text-contact {
  padding-top: 3rem;
  padding-bottom: 3rem;
}


.text-description h3, .text-contact h3 {
  margin-bottom: 0.500em;
}

.text-description p, .text-contact p {
  line-height: 1.5;
}

button {
  background-color: #007bff;
  color: #fff;
  border-radius: 0.313em;
  border: none;
  padding: 0.625em;
}

.text-description button {
  margin-top: 1em;
  font-size: 1em;
}

.bg-number {
  background-color: #cccccc;
  color: #969696;
  padding: 3.4375em;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.bg-button {
  background-color: #f7f7f7;
  padding: 1.0625em;
}

.three-piece-box {
  padding-top: 0rem;
  padding-bottom: 3rem;
  margin-right: 2em;
}
.box-card-border {
  border: 1px solid #cccccc;
}

.bdr-rds-top {
  border-top-left-radius: 0.313em;
  border-top-right-radius: 0.313em;
}

.bdr-rds-bottom {
  border-bottom-right-radius: 0.313em;
  border-bottom-left-radius: 0.313em;
}

.box-card-border h3 {
  padding: 1em;
}

.box-card-border p {
  padding: 0 1em 1em;
}

footer {
  background-color: #383e42;
  padding: 3rem;
  font-weight: 400;
  color: #fff;
}

/*footer p {
  font-weight: bold;
}*/
/* Fin clases específicas */

.view-mobile {
  display: block;
}

.view-desktop {
  display: none;
}

/* Grid */
.container {
  margin: 0 auto;
  width: 100%;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}



/* Desktop */
ul li {
  display: inline-block;
  padding: 5px 15px;
}

@media (min-width: 992px) {
  .col-md-1 {
      width: 8.33333333%;
    }

  .col-md-2 {
      width: 16.66666667%;
    }

  .col-md-3 {
      width: 25%;
    }

  .col-md-4 {
      width: 33.33333333%;
    }

  .col-md-5 {
      width: 41.66666667%;
    }

  .col-md-6 {
      width: 50%;
    }

  .col-md-7 {
      width: 58.33333333%;
    }

  .col-md-8 {
      width: 66.66666667%;
    }

  .col-md-9 {
      width: 75%;
    }

  .col-md-10 {
      width: 83.33333333%;
    }

  .col-md-11 {
      width: 91.66666667%;
    }

  .col-md-12 {
      width: 100%;
    }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

    .col-md-offset-4 {
      margin-left: 33.33333333%;
    }

    .col-md-offset-5 {
      margin-left: 41.66666667%;
    }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .view-desktop {
    display: block;
  }
  .view-mobile {
    display: none;
  }
}
