/* menú hamburguesa */
.main-hamburger {
  position: absolute;
  top: 25px;
  right: 28px;
  height: 2px;
  width: 24px;
  background: #d0d0d0;
}

.main-hamburger::before, .main-hamburger::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 24px;
  display: block;
  background: #d0d0d0;
}

.main-hamburger::before {
  top: -8px;
}

.main-hamburger::after {
  top: 8px;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.bg-header {
  background-color: #383e42;
  color: #ffffff;
}

a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}

nav {
  padding: 14px;
  overflow: hidden;
}

.nav-left {
  font-size: 1.25rem;
  float: left;
}

.nav-right {
  float: right;
}

.none {
  display: none;
}

h1 {
  font-size: 6rem;
  font-weight: 300;
}

h2 {
  font-size: 7rem;
  font-weight: 500;
  color: #969696;
  /*background-position: bottom;*/
}

span {
  color: #0090ff;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.overlay {
  background: #cccccc;
  padding: 5rem 0;
}

.text-description {
  padding: 3rem 4.5rem;
}

.text-contact, .three-piece-box {
  padding: 0 4.5rem 3rem 4.5rem;
}

.text-description h3, .text-contact h3 {
  margin-bottom: 0.500em;
}

.text-description p, .text-contact p {
  line-height: 1.5;
}

button {
  background-color: #007bff;
  color: #fff;
  border-radius: 0.313em;
  border: none;
  padding: 0.625em;
}

.text-description button {
  margin-top: 1em;
  font-size: 1em;
}

.bg-number {
  background-color: #cccccc;
  color: #969696;
  padding: 3.4375em;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.bg-button {
  background-color: #f7f7f7;
  padding: 1.0625em;
}

.box-card-border {
  border: 1px solid #cccccc;
}

.bdr-rds-top {
  border-top-left-radius: 0.313em;
  border-top-right-radius: 0.313em;
}

.bdr-rds-bottom {
  border-bottom-right-radius: 0.313em;
  border-bottom-left-radius: 0.313em;
}

.box-card-border h3 {
  padding: 1em;
}

.box-card-border p {
  padding: 0 1em 1em;
}

footer {
  background-color: #383e42;
  padding: 3rem;
}
/*
.overlay h1 {
  position: absolute;
  z-index: 1;
}

.overlay h2 {
  position: absolute;
  z-index: -1;
}*/
